/* HUB3 BARCODE STYLE */

#hub3barcode{
border: 1px solid #333;
margin: 1em 0;
}
#hub3barcode td{
padding: 2em 1em;
background: #4e4e4e;
color: #fff;
font-size: 1.1em;
line-height: 1.2em;
}
#hub3barcode td h3{
color: #fff;
font-size: 1.4em;
}
#hub3barcode td:first-child{
padding: 1em;
background: #fff;
}
